html
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #000000;
    margin: 0;
}

.Meta
{
    width: 50vw;
    display: flex;
    border-radius: 1rem;
    border: 0.1rem solid #2f3336;
    overflow: hidden;
    background-color: #000;
    transition: background-color ease 0.3s;
    cursor: pointer;
    margin:12vw auto;
    text-decoration: none;
}

.Meta_content
{
    color: #6b6b6b;
    padding: 2rem;
    border-left: 0.1rem solid #2f3336;
}

.Meta:hover
{
    background-color: #1a1820;
}

.Meta_content h1
{
    color: #bfbfbf;
    font-weight: 100;
    margin: 0;
}

.Meta_content h1, p
{
    margin: 0;
    font-size: 1rem;
}